
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    display: fle;
    padding: 30px;
}

section { 
    display: flex;
    height: 30px;
    margin-bottom: 20px;
} 

header {
    background-color: #A2D7D2;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}



#add-number-1 {
    margin-left: 65px;
    margin-right: 20px;
    width: 155px;
}

#add-number-2 {
    margin-left: 20px;
    margin-right: 20px;
}

#add-answer {
    border: 1px solid black;
    width: 200px;
    margin-left: 20px;
}


#subtract-number-1 {
    margin-left: 40px;
    margin-right: 20px;
    width: 155px;
}

#subtract-number-2 {
    margin-left: 20px;
    margin-right: 20px;
}

#subtract-answer {
    border: 1px solid black;
    width: 200px;
    margin-left: 20px;
}

#multiply-number-1 {
    margin-left: 45px;
    margin-right: 20px;
    width: 155px;
}

#multiply-number-2 {
    margin-left: 20px;
    margin-right: 20px;
}

#multiply-answer {
    border: 1px solid black;
    width: 200px;
    margin-left: 20px;
}

#divide-number-1 {
    margin-left: 53px;
    margin-right: 20px;
    width: 155px;
}

#divide-number-2 {
    margin-left: 20px;
    margin-right: 20px;
}

#divide-answer {
    border: 1px solid black;
    width: 200px;
    margin-left: 20px;
}

#modulo-number-1 {
    margin-left: 45px;
    margin-right: 20px;
    width: 155px;
}

#modulo-number-2 {
    margin-left: 20px;
    margin-right: 20px;
}

#modulo-answer {
    border: 1px solid black;
    width: 200px;
    margin-left: 20px;
}

#divideInt-number-1 {
    margin-left: 10px;
    margin-right: 20px;
    width: 155px;
}

#divideInt-number-2 {
    margin-left: 20px;
    margin-right: 20px;
}

#divideInt-answer {
    border: 1px solid black;
    width: 200px;
    margin-left: 20px;
}

#pythagorean-number-1 {
    margin-left: 20px;
    margin-right: 20px;
    width: 155px;
}

#pythagorean-number-2 {
    margin-left: 20px;
    margin-right: 20px;
}

#pythagorean-answer {
    border: 1px solid black;
    width: 200px;
    margin-left: 20px;
}